@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/*GLOBAL*/
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

h1{
    margin:none;
}
/*DISPLAY*/
.showcase{
    margin: auto;
    text-align: center;
    width:100%;
    height:100vh;
    background-image: url(/static/Images/signin_page4.jpg);
    overflow: hidden;
    line-height: 1.5;
}

.showcase h2{
    margin:2% 36% 20px 36%;
    font-size: 700;
    color: white;
    background-color: #000000;
    opacity:0.7;
    border: 1px white solid;
    border-radius: 3px;
}

.sign-in{
    margin:3% 30% 20px 30%;
    background-color: black;
    border-radius: 5px;
    opacity:0.7;
    padding:20px;
}

.sign-in h1{
    color: white;
    font-size: 50px;
}

/*FORM*/
.sign-in form{
    display: flex;
    flex-direction: column;
    margin:auto;
    text-align: center;
    align-items: left;
    padding: 5px 0 5px 0;
}

.sign-in label{
    color: white;
}
.email{
    text-align: left;
    margin-left:auto;
    margin-right:auto;
    text-transform: uppercase;
}
.password{
    text-transform: uppercase;
    text-align: left;
    margin-left:auto;
    margin-right:auto;
}
.email label{
    text-align: left;
}

.password label{
   text-align: left;
}

form input{
    line-height: 1.5;
    width:120%;
}
/*BUTTON PROPERTIES*/
.btn{
    margin-top:20px;
    margin-bottom: 5px;
    padding: 3px;
    background-color: black;
    border:1px white solid;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    width: 13%;
    text-align: center;
    margin: 10px auto 10px auto;
    
}


.btn:hover{
    transform: scale(0.97);
}

.showcase h3,h4{
    color: white;
}

/*SIGN-UP REDIRECT*/
.sign-up{
    margin-top:7px;
    padding: 3px;
    background-color: black;
    border:1px white solid;
    border-radius: 5px;
    font-size: 16px;
}

.sign-up a{
    color:white;
}
.sign-up:hover{
    transform: scale(0.97);
}

/*MEDIA QUERIES*/

/*MAX WIDTH TO 1200px*/
@media(max-width:1200px){
    .email, .password{
        margin-left:15px;
        margin-right: 15px;
    }
    form input{
        width:100%;
    }
}
/*TABLET SCREEN*/
@media(max-width:832px){
    .showcase h2{
        margin:4.5% 25% 20px 25%;
    }
    .email, .password{
        margin-left:8px;
        margin-right: 8px;
    }
    form input{
        width:100%;
    }
    
}
/*MINI TABLET SCREENS AND PHONE VIEWS*/
@media(max-width:700px){
    .showcase h2{
        margin:4.5% 17% 20px 19%;
        font-size: 20px;
    }
    .sign-in{
        margin:12.5% 20% 20px 20%;
    }
    .sign-in h1{
        font-size: 30px;
    }
}