{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashioncraft | About</title>
    <link rel="stylesheet" href="{% static 'Styles/styleabout.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <h1>About the creators</h1>
    </header>

    <section class="wrapper">
        <div class="shubh">
            <img src="{% static 'Images/shubh2.jpg' %}" alt="Shubh Nisar" height="300px" width="341px">
            <p>FRONT END developement by SHUBH NISAR, Computer Engineering student at Dwarkadas J. Sanghvi College of Engineering.</p>
            <div class="social-shubh">
                <a href="https://instagram.com/shubh_nisar.28?igshid=xi416yom4znf" class="fa fa-instagram"></a>
                <a href="https://github.com/Shubh-Nisar" class="fa fa-github"></a>
                <a href="https://www.linkedin.com/in/shubh-nisar-89a6a31aa" class="fa fa-linkedin"></a>
            </div>
        </div>

        <div class="tanay">
            <img src="{% static 'Images/tanay.jpg' %}" alt="Tanay Naik" height="300px"width="341px">
            <p>BACK END developement by TANAY NAIK, Computer Engineering student at Dwarkadas J. Sanghvi College of Engineering.</p>
            <div class="social-tanay">
                <a href="https://instagram.com/_tanay_naik?igshid=j3pf5cvsvx8i" class="fa fa-instagram"></a>
                <a href="https://github.com/tanaynaik2001" class="fa fa-github"></a>
                <a href="https://www.linkedin.com/in/tanay-naik-9693831a4" class="fa fa-linkedin"></a>
            </div>
        </div>

    </section>

    <footer>
        <p>This is just a student project, for better experience it is recommended to watch more established sites.</p>
        <div>
            Fashioncraft &copy; Since 2020
        </div>
    </footer>
</body>
</html>