{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashioncraft | Help</title>
    <link rel="stylesheet" href="{% static 'Styles/stylehelp.css' %}">
</head>
<body>
    <header>
        <h1>We care for you!</h1>
        <p>Here are some options</p>
    </header>

    <section class="wrapper">
        <div class="amazon">
            <a href="https://www.amazon.com"><img src="{% static 'Images/amazon.jpg' %}" alt="AMAZON" width="300px" height="300px"></a>
        </div>

        <div class="flipkart">
            <a href="https://www.flipkart.com"><img src="{% static 'Images/flipcart.jpg' %}" alt="FLIPKART" width="300px" height="300px"></a>
        </div>

        <div class="snapdeal">
            <a href="https://www.snapdeal.com"><img src="{% static 'Images/snapdeal.jpg' %}" alt="SNAPDEAL" width="300px" height="300px"></a>
        </div>

        <div class="shein">
            <a href="https://www.shein.com"><img src="{% static 'Images/shein.jpg' %}" alt="SHEIN" width="300px" height="300px"></a>
        </div>

        <div class="van-heusen">
            <a href="https://www.vanheusen.com"><img src="{% static 'Images/vanheusen.jpg' %}" alt="VAN HEUSEN" width="300px" height="300px"></a>
        </div>

        <div class="zara">
            <a href="https://www.zara.com"><img src="{% static 'Images/zara.jpg' %}" alt="ZARA" width="300px" height="300px"></a>
        </div>
    </section>

    <footer>
        <p>Fashioncraft &copy; Since 2020</p>
    </footer>
</body>
</html>