{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashioncraft | Sign-Up</title>
    <link rel="stylesheet" href="{% static 'Styles/stylesignup.css' %}">
</head>
<body>
    <section class="bg">
        <div class="container">
            <div class="catchy">
                <h2>Become a Fashioncraftsmen</h2>
            </div>
            <div>
                {% for message in messages %}
                <h2>{{message}}</h2>
                {% endfor %}
            </div>

            <div class="forms">
                <form action="signup" method="post">
                    {% csrf_token %}
                    <p>Sign-Up</p>
                    <div class="names">
                        <label for="">Username : </label><br>
                        <input type="text" name="username" id="" placeholder="Enter your username...">
                    </div>

                    <div class="email">
                        <label for="">Email : </label><br>
                        <input type="email" name="email" id="" placeholder="Enter your email...">
                    </div>

                    <div class="password">
                        <label for="">Password : </label><br>
                        <input type="password" name="password1" id="" placeholder="Enter your password...">
                    </div>

                    <div class="confirm">
                        <label for="">Re-type Password : </label><br>
                        <input type="password" name="password2" id="" placeholder="Confirm password...">
                    </div>

                    <div class="gender">
                        <input type="radio" id="" name="gender" value="">
                        <label for="">Male</label><br>
                        <input type="radio" id="" name="gender" value="">
                        <label for="">Female</label><br>
                        <input type="radio" id="" name="gender" value="">
                        <label for="">Other</label>
                    </div>

                    <button type="submit">Sign-Up</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>