{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashioncraft | Suggesstions</title>
    <link rel="stylesheet" href="{% static 'Styles/stylesuggesstion.css' %}">
</head>
<body>
    <div class="container">
        <div class="main">
            <p>Your suggesstions matter to us</p>
            <textarea name="" id="" cols="105" rows="22" placeholder="Give suggesstion..."></textarea><br>
            <button type="submit">SUBMIT</button>
        </div>
    </div>
</body>
</html>